{% extends "layout.html" %}

{% block title %}
    Vj Code
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome To Vj Django Project</h1>

    <h2>
        {% if form.instance.pk %}
            Edit Tweet
        {% else %}
            Create Tweet
        {% endif %}
    </h2>

    <!-- Added csrf_token for security and fixed spacing -->
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <!-- Fixed the url template tag -->
    <a href="{% url 'tweet_list' %}">Back to Tweet List</a>
{% endblock %}
